.card {
    background-color: rgb(255, 255, 255);
    padding: 1.2rem;
    
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
  }


  .img {
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  .title{
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #17e9bf 0%, #0136d3 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: center;
  }

  .subtitle{
    font-size: 22px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #17e9bf 0%, #0136d3 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: center;
  }